body {
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
}

.message-container {
    text-align: center;
    color: #ff69b4;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.message-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.message-container p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #ff1493;
    text-align: justify;
}

.hearts {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff69b4;
    transform: rotate(45deg);
    animation: float 5s infinite ease-in-out;
    bottom: -50px;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff69b4;
    border-radius: 50%;
}

.heart::before {
    top: -25px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -25px;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(45deg);
        opacity: 1;
    }
    
    100% {
        transform: translateY(-100vh) rotate(45deg);
        opacity: 0;
    }
}

.heart:nth-child(2) {
    left: 20%;
    width: 40px;
    height: 40px;
    animation-duration: 3s;
    animation-delay: 1s;
}

.heart:nth-child(2)::before,
.heart:nth-child(2)::after {
    width: 40px;
    height: 40px;
}

.heart:nth-child(3) {
    left: 70%;
    width: 40px;
    height: 40px;
    animation-duration: 4s;
    animation-delay: 2s;
}

.heart:nth-child(3)::before,
.heart:nth-child(3)::after {
    width: 40px;
    height: 40px;
}

.heart:nth-child(4) {
    left: 90%;
    width: 50px;
    height: 50px;
    animation-duration: 6s;
    animation-delay: 2s;
}

.heart:nth-child(4)::before,
.heart:nth-child(4)::after {
    width: 50px;
    height: 50px;
}
